.main {
  padding: 7rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.hello {
  font-size: 6rem;
  font-weight: bold;
}

.whoami {
  font-size: 3rem;
}

.description {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .main {
    padding: 6rem 4rem;
  }

  .hello {
    font-size: 6.5rem;
  }

  .whoami {
    font-size: 3.5rem;
  }

  .description {
    font-size: 2.2rem;
  }
}

@media (min-width: 1024px) {
  .main {
    padding: 8rem 13rem 8rem 6rem;
  }
}

@media (min-width: 1220px) {
  .main {
    padding: 8rem 13rem 8rem 10rem;
  }
}

@media (min-width: 1440px) {
  .main {
    padding: 8rem 40rem 8rem 10rem;
  }
}